<h1> I'm sure you have something really funny to say... </h1>
<br>
<h2> <%= flash[:notice] %> </h2>
<br>
<%= image_tag (@meme.title) %>
<br>
<br>
<%= form_for [@meme, @comment] do |f| %>
    <%= f.label "Content" %>
    <%= f.text_area :content %>
<%= f.submit %>
<% end %>
<br>
<br>