<%= form_with model: @meme, local: :true do |form| %>
  <div class= "text-center">
    <%= form.label :title, "Insert image location/url here: " %>
    <br>
    <%= form.text_field :title, size: "30x10", class: @meme.errors.any? ? "custom_errors" : nil %>
  </div>
<br>
<br>
  <div class= "text-center">
    <%= form.label :description, "Please include a description of this meme: " %>
    <br>
    <%= form.text_area :description, size: "75x10", style: "white-space: pre-wrap" %>
  </div>
<br>
  <div class = "text-center">
  <%= form.label :nsfw, "Could this image be considered offensive or unsafe for work environments? " %>
  <br>
  <td><%= form.select :nsfw, options_for_select([['Yes', true], ['No', false]])%></td>
  </div>
<br>
<br>
  <div class= "text-center">
    <%= form.submit %>
  </div>
<% end %>