<h1>Post a new Meme!</h1>

<%= form_for @meme do |f| %>

  <%= f.label "Title" %>
  <%= f.text_field :title %>
  <br/>
  <br/>
  <%= f.label "Description" %>
  <%= f.text_area :description %>
  <br/>
  <br/>
  <%= f.select :nsfw, [['Not Safe For Work', true], ['Safe for Work', false]] %>
  <br/>
  <br/>
  <%= f.fields_for :description, meme.description.build do |meme_fields| %>
    <%= meme_fields.label :title, "Link to Meme" %>
    <%= meme_fields.text_field :description %>
  <% end %>
  <br/>
  <br/>
  <%= f.submit %>
<% end %>