<h1> Here's your meme: </h1>
<br>
<%= image_tag (@meme.title) %>
<%= @meme.description %>
<br>
<br>
<% @meme.comments.each do |comment|%>
    <li> <%= comment.user.email[/[^@]+/] %> says: <%= comment.content %> </li>
<% end %>
<br>
<br>
<%= button_to "New Comment", new_meme_comment_path(@meme.id), method: :get %>


