<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<br>
<body>

    <div class="text-center">
    <img src="<%= (@meme.title) %>" class="rounded" alt="Probably a dumb meme was here">
    </div>
<br>

    <div class="text-center">
    <% if @meme.user %>
    <small class> Created by: <%= @meme.user.email[/[^@]+/] %> </small>
    <% else %>
    <small class> Created by: Anonymous </small>
    <% end %>
<br>
<br>
    <h3> <%= @meme.description %> </h3>
<br>
<br>    
    </div>

    <div class="text-center">
    <%= button_to "New Comment", new_meme_comment_path(@meme.id), method: :get %>
    </div>
<br>
    <div class="text-center">
    <% if @meme.user_id == current_user.id %>
    <%= button_to "Delete This Meme", meme_path(@meme), method: :delete, data: {confirm: 'Are you sure you want to delete this "hilarious" meme?'} %>
    <% end %>
    </div>
<br>
<br>

<div class="container">
    <div class="page-header">
        <h1><small class="pull-right"><%= @meme.comments.count %> </small> Comments </h1>
    </div> 
        <% @meme.comments.each do |comment|%>
                <div class="row">
                    <div class="col-md-8">
                    <div class="comments-list">
                        <div class="media">
                            <p class="pull-right"></p>
                                <a class="media-left" href="#">
                                </a>
                                <div class="media-body">
                                <h3 class="media-heading user_name"><%= comment.user.email[/[^@]+/] %> says:</h3>
                                   <h4> <%= comment.content %> </h4>
                                <p><small>posted: <%= comment.created_at.strftime("%B %d %Y, %l:%M%P") %></small></p>
                                    <% if comment.user_id == current_user.id %> 
                                    <p> <%= link_to "Delete", comment_path(comment, meme_id: @meme.id), method: :delete %> - <%= link_to "Edit", edit_comment_path(comment, meme_id: @meme.id), method: :get %> </p>
                                    <% end %>
                                </div>
                            </div>
                    </div>
                    </div>
                </div>
        <% end %>
</div>
<br>
<br>
<br>
</body>
